

#bookshelf{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 5px; 
}

.book{
    border: 2px dashed blue;
    margin: 5px; 
    max-height: fit-content;
    min-width: fit-content;
    padding: 2px;
    text-align: center;
    background-color: rgb(243, 218, 181);
}
